/* 
		1. CSS also ignores whitespace.
		2. Some CSS properties gets inherited
		3. Every html element has default CSS properties
		4. And those properties vary from element to element
__________________________________________________________

Selectors are written like this

		selector-name{
			css-property:value;
			css-property:value;
			css-property:value;
			...:...;
			...:...;
			...:...;
		}
__________________________________________________________

		SELECTOR TYPES

		1. Universal or star selector 	- *
		2. Tag or type Selector 
		3. Class or dot Selector 				- .
		4. ID Selector 									- #
		5. Psuedo Selector							- ::
		6. Attribute Selector						- []
		7. Compound Selector
				a. Descendant Selector
*/

*{ /*universal selector*/
	box-sizing: border-box;
}

/* Universal reset code

*{ 
	margin: 0;
	padding: 0
}
 */



body{
	background-color: #FEEBEB;
	font-family: Verdana, Geneva, sans-serif;
	color: #444;
	border: solid 10px green;
}
header{
	background-color: #69002F;
	padding: 10px;
}
.heading{
	color: crimson;
	text-align: center;
	font-weight: normal;
	font-size: 40px;
	border-bottom: double 4px crimson;
}
#main-heading{
	color: crimson;
	text-align: center;
	font-weight: normal;
	font-size: 40px;
	border-bottom: double 4px crimson;
}
nav{
	background-color: #FE5073;
	padding: 2px;
}

.page-heading{
	border-bottom: double 10px red;
}

.whatever{
	color: green;
	font-size: 30px;
	font-weight: normal;
	border: dotted 1px #CCC;
}

p{
	font-size: 16px;
	padding: 0 20px;
	color: #340D6F
}


abbr[title]{
	border-bottom: double 3px red;
	cursor: pointer;
	text-decoration: none; 
}

.site-links{
	border: solid 1px red;
	list-style: none;
	padding-left: 0;
	text-align: center;
}
.site-links li{
	border: solid 1px green;
	display: inline-block;
}
.site-links li a{
	border: solid 1px white;
	color: #FFF;
	text-decoration: none;
}
.site-links li a:hover{
	background-color: #FFF;
	border-radius: 15px;
	color: #444;
}

.site-links{
	border: solid 1px red;
	list-style: none;
	padding-left: 0;
	text-align: center;
}
/*CSS formatting way*/
	.site-links li{
		border: solid 1px green;
		display: inline-block;
	}
		.site-links li a{
			border: solid 1px white;
			color: #FFF;
			text-decoration: none;
		}
			.site-links li a:hover{
				background-color: #FFF;
				border-radius: 15px;
				color: #444;
			}

/*CSS formatting way*/

.site-links										{	border: solid 1px red;list-style: none;padding-left: 0;text-align: center;}
	.site-links li 							{ border: solid 1px green;display: inline-block;}
		.site-links li a 					{ border: solid 1px white;color: #FFF;text-decoration: none;}
			.site-links li a:hover 	{ background-color: #FFF;border-radius: 15px;color: #444;}

/*CSS formatting way*/
.site-links										{	
																border: solid 1px red;
																list-style: none;
																padding-left: 0;
																text-align: center;
															}
	.site-links li 							{ 
																border: solid 1px green;
																display: inline-block;
															}
		.site-links li a 					{ border: solid 1px white;color: #FFF;text-decoration: none;}
			.site-links li a:hover 	{ background-color: #FFF;border-radius: 15px;color: #444;}
