.kg-red{background-color: red;color:#FFF}
.kg-blue{background-color: blue;color:#FFF}
.kg-green{background-color: green;color:#FFF}
.kg-orange{background-color: orange;color:#FFF}
.kg-wheat{background-color: wheat;color:#444}
.kg-white{background-color: white;color:#444}
.kg-black{background-color: black;color:#FFF}

.kg-dabba{
	min-height: 100px;
	line-height: 100px;
	text-align: center;
	font-size:300%;
	margin-bottom: 10px;
}

.spacer{
	min-height:300px;
}

.body-fixed-top{
	padding-top: 70px;
}

.carousel-inner .item img{
	width: 100%;
}

