/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated

   ========================================================================== */
/*

Block related style properties
+++++++++++++++++++++++++++++++++++++++++++

word-spacing      : normal | <length>
letter-spacing    : normal | <length>
vertical-align    : baseline | sub | super | text-top | 
                    text-bottom | middle | top | bottom | <percentage> | <length>
text-align        : left | right | center | justify
text-indent       : normal | <length>
white-space       : normal | pre | nowrap| pre-wrap | pre-line
display           : block | inline | inline-block | list-item |
                    table | table-row | table-cell | none


content           : 
text-overflow     : clip | ellipsis


auto;
inherit;

*/

/* ==========================================================================
   Demo of Font related properties
   ========================================================================== */

.dabba{
  width: 900px;
  margin: 20px auto;
  border: solid 1px grey
}


.ta-demo{
  text-align: justify;
  word-spacing:40px;
  letter-spacing:10px;
}
.ti-demo{
  text-indent: 120px;
}
.ws-demo{
  white-space: pre-line;
  word-wrap: break-word;

  border: dotted 1px grey;
  margin:30px;
  padding: 20px;
  
}


.box{
  width:120px;
  height:60px;
  border:solid 1px red;
  background-color: lightgreen;
  margin:10px;
  text-align: center;
  vertical-align:middle;
  display:inline-block
}

.box:after{
  content:"box";
  border: solid 1px blue;
  width:50px;
  display: none;
}

.box:hover:after{
  display: inline;
}
