/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated

   ========================================================================== */
/*

BOX related style properties
+++++++++++++++++++++++++++++++++++++++++++

width, min-width, max-width
height, min-height, max-height 
overflow: visible | hidden | scroll | auto

padding
  padding-left: ;
  padding-right: ;
  padding-bottom: ;
  padding-top: ;
margin
  margin-left: ;
  margin-right: ;
  margin-top: ;
  margin-bottom: ;

float : left | right | none
clear: none | left | right | both

box-sizing: content-box | padding-box | border-box
resize -none | both | horizontal | vertical 
opacity 


column-count
  column-gap  
  column-fill –auto | balance
  column-rule -<'column-rule-width'> || <'column-rule-style'> || <'column-rule-color'>

Flex-box
Grids

auto;
inherit;


*/

/* ==========================================================================
   Demo of BOX related properties
   ========================================================================== */

.wrap{
  width:400px;
  height:200px;
  border: solid 1px red;
  margin:20px auto;
  padding: 2px;
  background-color: lightgreen;
}


.dabba{
  border: solid 1px red;
  background-color:lightgreen;
  min-width:100px;
  max-width:120px;
  margin:5px;
  min-height:50px;
  max-height:150px;

  overflow:scroll;
  /* overflow-x:scroll;
  overflow-y:scroll; */
  float:left

}
.clear{
  clear:both;
}

.dabba1{
  background-color:lightgreen;
  border: solid 5px red;
  margin:10px;
  padding:10px 30px;
}

.parent-dabba{
  background-color:lightgreen;
  border: solid 3px red;
  margin:30px 50px;
}
.parent-dabba:after{
  content:"";
  display: block;
  clear: both;
}

.child{
  border: solid 3px orange;
  background-color:lightblue;
  width:200px;
  height:50px;
}
.fr{float: right;}
.fl{float: left;}

.site-footer{
  clear:both;
}


