@charset 'utf-8';


/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated

   ========================================================================== */
/*

Position related style properties
+++++++++++++++++++++++++++++++++++++++++++

position: static | relative | absolute | sticky| fixed
  Applies to all elements

left, top, right, bottom
  Applies to positioned elements

z-index: auto | <integer>
  Applies to positioned elements

visibility: visible | hidden | collapse
  Applies to all elements

overflow: visible | hidden | scroll | auto
overflow-x
overflow-y

auto;
inherit;

*/

/* ==========================================================================
   Demo of Position related properties
   ========================================================================== */

.posi-wrap{
  border: solid 1px red;
  background-color: wheat;
  margin:25px auto;
  width: 1000px;
}
.posi-wrap *{
  border: dashed 1px green;
}
.posi-wrap h2{
  border-bottom: double 3px red;
  background-color: lightblue;
  padding: 10px;
  margin:0;
  text-align: center;
}

.posi-static-demo{
  position:static;
  top:100px;
  z-index:
}

.posi-relative-demo{
  position:relative;
  top:50px;
  left:100px;
}

.pos-rel-demo{
  position: relative;
  bottom:30px;
  top:30px;
  right:40px;
  left:40px;
  width:50%;
  background-color:rgba(255,0,0,.9);
  z-index:2;
}
.pos-re-zi-demo{
  position: relative;
  z-index:1;
  background-color:orange;
}
/*----------  position absolute demo  ----------*/

.pos-abs-demo{
  background-color:rgba(255,0,0,.5);
  width:250px;
  position: absolute;
  left:0;
  top:0;
}



.posi-absolute-demo{
  position: absolute;
  background-color:rgba(255,0,0,1);

  top: 0;
  left:0;
  bottom:0;
  right:0;
  width:20%;
  height:20%;
  margin:auto;
}

div.posi-absolute-demo {
  z-index:1;
}

.pos-rel{position: relative;}

.banner{
  border:solid 5px grey;
  width:800px;
  height:360px;
  margin:25px auto;
  overflow:hidden;
  position: relative;
}

.banner h2{
  position: absolute;
  background-color:rgba(0,0,0,.75);
  color: #FFF;
  padding:20px;
  margin:0;
  font-weight:normal;
  font-size:40px;
  bottom:0;
  right:0;
  width:100%;
  text-align: center;
}

/* 9740160080 - mallikarjun */

.row{
  border-bottom: dotted 1px grey;
  margin-bottom: 25px;
  padding:0 5px 25px;
}
.row:after{
  content:"";
  display:block;
  clear: both;
}
.col-one-half{
  width:50%;
  float: left;
}
.col-one-third{
  width:33.333%;
  float: left;
}
.col-one-fourth{
  width:25%;
  float: left;
}

/*----------  Panel  ----------*/
.panel{
  background-color:#e7e7e7;
  border: solid 1px #b0b0b0;
  border-radius:10px;
  margin:0 10px;
}
.panel-header{
  border-radius:9px 9px 0 0;
  margin-bottom:15px;
  position: relative;
  background: #a29aa8;
  background: -moz-linear-gradient(top,  #a29aa8 0%, #6d6771 100%);
  background: -webkit-linear-gradient(top,  #a29aa8 0%,#6d6771 100%);
  background: linear-gradient(to bottom,  #a29aa8 0%,#6d6771 100%);
}
.panel-header:after,
.panel-content:after{
  content:"";
  display:block;
  clear: both;
}
.panel-header:before{
  content:"";
  width:16px;
  height:16px;
  position: absolute;
  bottom:-8px;
  left:20px;
  transform:rotate(45deg);

  background: #7c7581;
  background: -moz-linear-gradient(left,  #7c7581 0%, #6d6771 100%);
  background: -webkit-linear-gradient(left,  #7c7581 0%,#6d6771 100%);
  background: linear-gradient(to right,  #7c7581 0%,#6d6771 100%);

}
/*------  Auto truncating header  ------*/
.panel-header h2{
  margin:0 30px 0 0;
  padding-left: 15px;
  line-height: 44px;
  color:#FFF;
  font-weight:normal;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow:hidden;
}



.panel-header .close{
  border-bottom: solid 1px #FFF;
  border-right: solid 1px #FFF;
  float: right;
  margin: 16px 15px 0 0;
  width:8px;
  height:8px;
  transform: rotate(45deg);
  cursor: pointer;
}
.panel-content{
  padding:0 10px 10px;
}
.user-pic{
  float: left;
  width:140px;
  height:140px;
}
.user-pic a{
  border:solid 1px #CCC;
  background-color:#FFF;
  padding:10px;
  display: block;
  position: relative;
  transition:all 300ms ease-in;
}
.user-pic a:hover{
  border-color:#d02727;
  background-color:#dfcece;
  -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.7);
  box-shadow: 0 0 5px 1px rgba(0,0,0,.7);
  border-radius:50%;
  transform:rotate(360deg);
}
.user-pic a:hover img{
  border-radius:50%;
}
.user-pic img{
  width:100%;
  height:auto;
  display: block;
  transition:all 300ms ease-in;
}
.user-pic a span{
  position: absolute;
  left:10px;right:10px;
  top:10px;bottom:10px;
  margin:auto;
  height:20px;
  line-height:20px;
  text-align: center;
  color:#FFF;
  font-size:16px;
  background-color:rgba(255,0,0,.5);
  transition:all 300ms ease-in;
  display: none;
}
.user-pic a:hover span{
  display: block;
}
.user-info{
  margin-left: 150px;
}
.user-info h3{
  margin:0;
}
.info-list{
  padding-left: 0;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 0;
}
.info-list li{
  margin-bottom: 10px;
}

/**
 *
 * Sprite demo
 *
 */

.sprite-demo1 .user-pic a span{
  background-image: url('../img/sprite-01.png');
  background-position: 4px -60px;
  background-repeat: no-repeat;
}

.sprite-demo1 .info-list li{
  background-image: url('../img/sprite-01.png');
  background-repeat: no-repeat;
  padding-left: 15px;
}

.sprite-demo1 .info-list li.ico-city{ background-position: 0 -35px;}
.sprite-demo1 .info-list li.ico-info{ background-position: 0 -14px;}
.sprite-demo1 .info-list li.ico-email{ background-position: 0 7px;}
.sprite-demo1 .info-list li.ico-mobile{ background-position: 0 7px;}


/**
 *
 * Sprite demo 2 using psuedo elements 
 * and positioning
 *
 */

.sprite-demo2 .user-pic a span:before{
  content:"";
  width:20px;
  height:18px;
  position: absolute;
  left:4px;
  top:0;
  background-image: url('../img/sprite-02.png');
  background-position: 0 -26px;
  background-repeat: no-repeat;
}

.sprite-demo2 .info-list li{
  position: relative;
  padding-left:20px
}
.sprite-demo2 .info-list li:before{
  content:"";
  height:13px;
  position: absolute;
  left:0;
  top:5px;
  background-image: url('../img/sprite-02.png');
  background-repeat: no-repeat;
}


.sprite-demo2 .info-list li.ico-city:before{ width:9px;background-position: 0 -13px;}
.sprite-demo2 .info-list li.ico-info:before{ width:8px;background-position: -13px 0;}
.sprite-demo2 .info-list li.ico-email:before{ width:13px;background-position: 0 0;}
.sprite-demo2 .info-list li.ico-mobile:before{ width:12px;background-position: -8px -13px;}






/**
 *
 * Custom icons downloaded from icomoon.io/app 
 * 
 *
 */



@font-face {
  font-family: 'b13-icons';
  src:
    url('../fonts/b13-icons.ttf?yzmjwm') format('truetype'),
    url('../fonts/b13-icons.woff?yzmjwm') format('woff'),
    url('../fonts/b13-icons.svg?yzmjwm#b13-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'b13-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\f030";
}
.icon-location:before {
  content: "\f041";
}
.icon-info:before {
  content: "\f05a";
}
.icon-phone:before {
  content: "\f098";
}
.icon-heart:before {
  content: "\f184";
}
.icon-dot:before {
  content: "\f192";
}
.icon-at:before {
  content: "\f1fa";
}

