body{
  font-family: Verdana, Geneva, sans-serif;
  font-size:14px;
  color:#444;
  line-height: 1.4;
}
*{
  box-sizing: border-box;
}
.site-header{
  margin-bottom: 20px;
}
.container{
  width: 1000px;
  margin:0 auto;
}
.container:after{
  content:"";
  clear: both;
  display: block;
  
}
.logo{
  float: left;
  margin: 10px 0 ;
}
.logo img{
  display: block;
}
.header-links{
  float: right;
  margin-top: 32px;
}
.header-links a{
  float: left;
  width:36px;
  height:36px;
  background-color:#FFF;
  margin-left: 10px;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  color:#ce0909;
}
.header-links a:hover{
  background-color:#faa100;
}

.row{
  clear: both;
}
.row:after{
  clear: both;
  display: block;
  content:"";
}
.one-half{
  width:50%;
  float: left;
  padding: 20px;
}
.one-third{
  width:33.3333%;
  float: left;
  padding: 20px;
}
.lightblue{background-color:lightblue;}
.lightgreen{background-color:lightgreen;}
.wheat{background-color:wheat;}
.space{padding:20px 0}


/*----------  widget1  ----------*/
.widget h2{
  border: solid 1px red;
  margin:0 60px 0 0;
}
.viewall{
  border: solid 1px red;
  float: right;
}
.widget ul{
  clear:both;
}

/*----------  widget2  ----------*/
.widget2 h2{
  border: solid 1px red;
  margin:0 0 15px;
  float: left;
  
}
.widget2 ul{
  clear:both;
}

